<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EditorMarkdown</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EditorMarkdown.styles.css" asp-append-version="true" />
 
    @section Head {
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    }
    @section Scripts {
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    }
</head>
<body>
    <header>
        <nav class="navbarMK">
            <div class="content">
                <a class="navbar_brand" asp-area="" asp-page="/Index">Design Systems</a>
                
                <div class="navbar-items">
                   
                        <span>
                            <a class="" asp-area="" asp-page="/Index">Home</a>
                        </span>
                        <span>
                            <a class="" asp-area="" asp-page="/MarkdownItems">Markdown</a>
                        </span>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        @if (ViewData["RenderSidebar"] != null && (bool)ViewData["RenderSidebar"])
        {
            <div class="sidebar">
                <h4>Like a God</h4>
                <div class="itens-menu">
                    <span>
                        <a asp-area="" asp-page="/Formularios">Formularios</a>
                     </span>
                    <span>
                        <a asp-area="" asp-page="/Tabelas">Tabelas</a>
                    </span>
                    <span>
                        <a asp-area="" asp-page="/Grids">Grids</a>
                    </span>
                </div>
            </div>
        }
        
        <main class="main" role="main">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EditorMarkdown - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@functions {
    public string IsActiveMenuPage(string page)
    {
        var currentPage = Context.Request.Path;
        return currentPage.Equals(page, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}