@page
@model IndexModel

@{
    ViewData["Title"] = "Página Inicial";
}


    <div class="timeline">
    <div class="point highlighted" id="point1"></div>
        <div class="point" id="point2"></div>
        <div class="point" id="point3"></div>
    </div>

    <div class="sections">
        <section class="section" id="section1">
            <div class="section-1">
                <div class="cards">
                    <div class="row">
                        <div class="card-1">

                            <div class="frame">
                                <h4>Missão</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>

                        <div class="card-1">

                            <div class="frame">
                                <h4>Personalidade</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.Nossa
                                    missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>

                        <div class="card-1">

                            <div class="frame">
                                <h4>Promessa</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.Nossa
                                    missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="row">
                        <div class="card-1">
                            <div class="frame">
                                <h4>Missão</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>

                        <div class="card-1">
                            <div class="frame">
                                <h4>Personalidade</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.Nossa
                                    missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>

                        <div class="card-1">

                            <div class="frame">
                                <h4>Promessa</h4>

                                <div class="nos">
                                    Nossa missão é liberar o potencial<br />de toda a equipe.Nossa
                                    missão é liberar o potencial<br />de toda a equipe.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="section2">Seção 2</section>
        <section class="section" id="section3">Seção 3</section>
    </div>
