@page
@model IndexModel

@{
    ViewData["Title"] = "Página Inicial";
}


    <div class="timeline">
    <div class="point highlighted" id="point1"></div>
        <div class="point" id="point2"></div>
        <div class="point" id="point3"></div>
    </div>

    <div class="sections">
        <section class="section" id="section1">Design Systems</section>
        <section class="section" id="section2">Seção 2</section>
        <section class="section" id="section3">Seção 3</section>
    </div>
