@page
@model EditorMarkdown.Pages.TabelasModel
@{
    ViewData["Title"] = "MarkdownItems";
    ViewData["RenderSidebar"] = true;
}

<div id="loadingOverlay">
    <div class="loading-spinner"></div>
</div>

<div class="header-mk">
    <h4>Tabelas</h4>
</div>
<div class="markdown_container">
    <div style="padding:16px;">
        <h4>Descrição</h4>
        <span>O Design System dos Tabelas abaixo é uma abordagem consistente para projetar e desenvolver Tabelas em nossa empresa. Ele oferece diretrizes, componentes e padrões pré-definidos que garantem a consistência visual e a usabilidade intuitiva em todos os nossos produtos. Com documentação detalhada e exemplos de código, o Design System facilita a implementação correta dos Tabelas, economizando tempo e garantindo Tabelas eficientes e de alta qualidade em toda a organização.</span>
    </div>
    <form method="post">
        <div id="markdownEditorContainer" style="display: none;">
            <textarea id="markdownInput" name="ConteudoMkd">@Model.CadastroMkd.ConteudoMkd</textarea>
        </div>

        <div id="markdownPreviewContainer">
            <div id="markdownPreview">@Model.CadastroMkd.ConteudoMkd</div>
        </div>

        <div class="botoes-mkd">
            <button class="btn-salvar-mkd" id="salvarButton" type="submit" style="display: none;">Salvar</button>
            <span class="btn-mkd" id="editButton">Editar</span>
            <span class="btn-mkd" id="voltarButton" style="display: none;">voltar</span>
        </div>
    </form>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/simplemde.min.css" />
    <script src="~/js/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12.2.0/dist/markdown-it.min.js"></script>

    <script>
        var markdownPreview = document.getElementById("markdownPreview");
        var markdownInput = document.getElementById("markdownInput");
        var editButton = document.getElementById("editButton");
        var voltarButton = document.getElementById("voltarButton");
        var salvarButton = document.getElementById("salvarButton");
        var simplemde; // Variável para armazenar a instância do SimpleMDE

        document.addEventListener("DOMContentLoaded", function () {
            // Inicializar o SimpleMDE apenas uma vez
            simplemde = new SimpleMDE({ element: markdownInput });
            updatePreview();
            // Esconder o loading quando a página terminar de carregar
            setTimeout(function () {
                document.getElementById("loadingOverlay").style.display = "none";
                simplemde.value(markdownInput.value);
            }, 300)

        });

        editButton.addEventListener("click", function () {

            markdownEditorContainer.style.display = "block";
            markdownInput.style.display = "none";
            salvarButton.style.display = "block";
            voltarButton.style.display = "block";
            editButton.style.display = "none";
            markdownPreview.style.display = "none";

            simplemde.value(markdownInput.value);

        });

        voltarButton.addEventListener("click", function () {

            markdownEditorContainer.style.display = "none";
            markdownInput.style.display = "none";
            salvarButton.style.display = "block";
            markdownPreview.style.display = "block";
            salvarButton.style.display = "none";
            voltarButton.style.display = "none";
            editButton.style.display = "block";
            updatePreview(); // Atualiza a pré-visualização ao voltar para o modo de visualização

        });

        // Function to update the preview when user types in the textarea
        function updatePreview() {
            if (simplemde) {
                var markdownValue = simplemde.value();
                var markdownHTML = window.markdownit().render(markdownValue);
                markdownPreview.innerHTML = markdownHTML;
            }
        }

        markdownInput.addEventListener("input", updatePreview);

        // Initial preview update
        updatePreview();
    </script>

}